<div class="container">
  <form #tallyForm="ngForm" (ngSubmit)="createTally()">
    <div class="title">
      <h3>Nuevo Cuadre</h3>
    </div>
    <div class="body">
      <div class="select-tienda">
        <label for="">Tienda: </label>
        <select (change)="getTillsByStore($event.target)">
          <option *ngFor="let store of stores" [value]="store.id">{{store.name}}</option>
        </select>
      </div>
      <div class="select-caja">
        <label for="">Caja: </label>
        <select required name="tillId" [(ngModel)]="model.tillId">
          <option *ngFor="let till of tills" [value]="till.id">Caja {{till.number}}</option>
        </select>
      </div>
      <div class="button">
        <button [disabled]="!tallyForm.valid" type="submit">Crear</button>
      </div>
    </div>
  </form>
</div>