<div class="container">
  <form action="">
    <div class="title">
      <h3>Nuevo Cuadre</h3>
    </div>
    <div class="body">
      <div class="select-tienda">
        <label for="">Tienda: </label>
        <select name="" id="">
          <option value="1">abato</option>
          <option value="2">sanmartin</option>
        </select>
      </div>
      <div class="select-caja">
        <label for="">Caja: </label>
        <select name="" id="">
          <option value="1">caja 1</option>
          <option value="2">caja 2</option>
          <option value="3">caja 3</option>
        </select>
      </div>
      <div class="button">
        <button type="submit">Crear</button>
      </div>
    </div>
  </form>
</div>